.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 40px;
}

img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.name {
  font-weight: 900;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid rgb(216, 204, 204);
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span {
  display: inline-block;
}

.quantity {
  font-weight: 900;
  margin-top: 10px;
}