.transactionHistory {
  width: 300px;
  background-color: white;
  border-radius: 4px;
}

.transactionHead {
  background-color: rgb(0, 162, 255);
  color: white;
  font-size: 20px;
}

.transactionBody {
  text-align: center;
}

.transactionBody tr:nth-child(even){
  background-color:rgb(211, 202, 202);
}

.transactionBodyItem {
  font-size: 14px;
  border: 1px solid black;
}

th, td {
  padding: 10px;
}